[submodule "jump_server"]
	path = jump_server
	url = https://github.com/lsampaioweb/jump-server.git
[submodule "proxmox_cluster"]
	path = proxmox_cluster
	url = https://github.com/lsampaioweb/proxmox-cluster.git
