[submodule "jump_server"]
	path = jump_server
	url = https://github.com/lsampaioweb/jump-server.git
[submodule "proxmox_cluster"]
	path = proxmox_cluster
	url = https://github.com/lsampaioweb/proxmox-cluster.git
[submodule "tplink_router_ax1800"]
	path = tplink_router_ax1800
	url = https://github.com/lsampaioweb/tplink_router_ax1800.git
[submodule "T1600G-28TS-SG2424"]
	path = T1600G_28TS_SG2424
	url = https://github.com/lsampaioweb/T1600G-28TS-SG2424.git
[submodule "openssl-certificates"]
	path = openssl_certificates
	url = https://github.com/lsampaioweb/openssl-certificates.git
[submodule "proxmox-ubuntu-22-04-server-raw"]
	path = proxmox-ubuntu-22-04-server-raw
	url = https://github.com/lsampaioweb/proxmox-ubuntu-22-04-server-raw.git
[submodule "proxmox-ubuntu-22-04-server-standard"]
	path = proxmox-ubuntu-22-04-server-standard
	url = https://github.com/lsampaioweb/proxmox-ubuntu-22-04-server-standard.git
[submodule "proxmox-ubuntu-22-04-desktop-raw"]
	path = proxmox-ubuntu-22-04-desktop-raw
	url = https://github.com/lsampaioweb/proxmox-ubuntu-22-04-desktop-raw.git
[submodule "proxmox-ubuntu-22-04-desktop-standard"]
	path = proxmox-ubuntu-22-04-desktop-standard
	url = https://github.com/lsampaioweb/proxmox-ubuntu-22-04-desktop-standard.git
[submodule "terraform-proxmox-ubuntu-22-04-module"]
	path = terraform-proxmox-ubuntu-22-04-module
	url = https://github.com/lsampaioweb/terraform-proxmox-ubuntu-22-04-module.git
[submodule "packer-proxmox-ubuntu-22-04-iso"]
	path = packer-proxmox-ubuntu-22-04-iso
	url = https://github.com/lsampaioweb/packer-proxmox-ubuntu-22-04-iso.git
[submodule "packer-proxmox-ubuntu-22-04-clone"]
	path = packer-proxmox-ubuntu-22-04-clone
	url = https://github.com/lsampaioweb/packer-proxmox-ubuntu-22-04-clone.git
[submodule "ansible-common-tasks"]
	path = ansible-common-tasks
	url = https://github.com/lsampaioweb/ansible-common-tasks.git
[submodule "load-balancer"]
	path = load-balancer
	url = https://github.com/lsampaioweb/load-balancer.git
